* {
    box-sizing: border-box;
}

.chat {
    position: absolute;
    width: 300px;
    bottom: 10px;
    right: 20px;
    box-shadow: 0 0 40px rgba(17,17,17,0.5);
    border: 0;
    background-color: #f1f2f7;
    padding: 15px 10px;
    border-radius: 3px;
}

.output {
    width: 300px;
    height: 350px;
    margin-bottom: 10px;
    padding: 5px 5px 10px 5px;
}

.input {
    width: 100%;
    resize: none;
    outline: none;
}

.msg {
    transition: color 1.5s ease;
}

.sent {
    padding: 5px;
    color: green;
}

.user-name {
    color: #999;
}

.sending {
    padding: 5px;
    color: grey;
}

.btn-send {
    text-shadow: none;
    font-weight: normal;
    background: #4d74c7;
    border: 1px solid #4d74c7;
    padding: 6px 14px 5px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    width: 100%;
}
